
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



*{
    font-family: "Reddit Sans", sans-serif;
    /* font-family: "Outfit", sans-serif; */
    /* font-weight: 400; */
    /* font-size: 15px; */
}
.sidebar{
    font-size: 15px;
}
.nav-header{
    font-weight: bold;
}
.titulo{
    /* font-family: "Rubik", sans-serif; */
    font-family: "Outfit", sans-serif;
}
.content{
    padding: 0;
}
.container-fluid{
    padding: 0;
}
.main-footer{
    border: 0;
    padding-bottom: 5px;
}
.content-header{
    margin-top: 0;
    padding-top: 0;
}
#body_sesion{
    height: 100vh;
}
.title_resgister_form{
    font-size: 14px;
}
.link{
    font-size: 13px;
}
.dropdown-item {
    font-size: 14px;
    padding-top: 0;
}

/* ****efecto maquina de escribir LOGIN***** */
#container-efect {
	margin: auto;
	display: table;
}

#container-efect { 
	position: relative; 
	float: left;
	/* background: tomato; */
	/* color: #fff; */
	/* font-size: 2.5em; */
}

#container-efect span {
    position:absolute;
    right:0;
    width:0;
    background: #f8fafc;
    border-left: 1px solid #000;
    animation: escribir 5s steps(30)  alternate;

   
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
/* ************************** */
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: #022040 !important;  
}


.card-icon:hover{
    transform:translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
