
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



*{
    font-family: "Reddit Sans", sans-serif;
    /* font-family: "Outfit", sans-serif; */
    /* font-weight: 400; */
    /* font-size: 15px; */
}
.sidebar{
    font-size: 15px;
}
.nav-header{
    font-weight: bold;
}
.titulo{
    /* font-family: "Rubik", sans-serif; */
    font-family: "Outfit", sans-serif;
}
.content{
    padding: 0;
}
.container-fluid{
    padding: 0;
}
.main-footer{
    border: 0;
    padding-bottom: 5px;
}
.content-header{
    margin-top: 0;
    padding-top: 0;
}
#body_sesion{
    height: 100vh;
}
.title_resgister_form{
    font-size: 14px;
}
.link{
    font-size: 13px;
}
.dropdown-item {
    font-size: 14px;
    padding-top: 0;
}


.custom-shape-divider-top-1724784650 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1724784650 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 200px;
}

.custom-shape-divider-top-1724784650 .shape-fill {
    fill: #ffffff17;
}





.custom-shape-divider-bottom-1724955098 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1724955098 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
}

.custom-shape-divider-bottom-1724955098 .shape-fill {
    fill: #FFFFFF;
}
